[user]
	name = Cristi Balan
	email = cristibalan@gmail.com
[credential]
	helper = osxkeychain
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
