[user]
	name = Cristi Balan
	email = cristibalan@gmail.com
[credential]
	helper = osxkeychain
[push]
	default = simple
[alias]
	patch = !git --no-pager diff --no-color[core]
	l = log --date-order --date=iso --graph --full-history --all --pretty=format:'%x08%x09%C(red)%h %C(cyan)%ad%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08 %C(bold blue)%aN%C(reset)%C(bold yellow)%d %C(reset)%s'
; create-graph = "!f() { git show-ref -s | git commit-graph write --stdin-commits ; } ; f"
; https://github.com/erikbgithub/dot-files/blob/master/.gitconfig#L38
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[color]
	ui = true
[diff]
	indentHeuristic = true
