[user]
	name = Cristi Balan
	email = cristibalan@gmail.com
[credential]
	helper = osxkeychain
[push]
	default = simple
[alias]
	patch = !git --no-pager diff --no-color[core]
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[color]
	ui = true
