# http://developer.apple.com/mac/library/DOCUMENTATION/DeveloperTools/gdb/gdb/gdb_28.html
# swap 'end' and 'shift end', 'home' and 'shift home', 'page down' and 'shift page down', and 'page up' and 'shift page up'
set bell-style none

# show completions after single tab
set show-all-if-ambiguous on

# only for dirs and files
set completion-ignore-case On

# some 8 bit crap apparently
set meta-flag On 
set input-meta On

# up/down search history
"\e[B": history-search-forward
"\e[A": history-search-backward
# "^[[A" history-search-backward
# "^[[B" history-search-forward

# alt + backspace/delete
"\ed": backward-kill-word
"\e(": kill-word

# alt + left/right
"\e\e[C": forward-word
"\e\e[D": backward-word
