set bell-style none

# show completions on single tab
set show-all-if-ambiguous on
# only for dirs and files
set completion-ignore-case On

# some 8 bit crap apparently
set meta-flag On 
set input-meta On

# up/down search history
"\e[B": history-search-forward
"\e[A": history-search-backward

# alt+backspace
"\ed": backward-kill-word

# ???

#"\e[3~": delete-char

# ?
#"\e[1~": beginning-of-line
#"\e[4~": end-of-line
#"\e[5~": beginning-of-history
#"\e[6~": end-of-history
#"\e[2~": quoted-insert
