/*
Name: Bright readable layout
Version: 1.00
Author: EvilCHELU
*/


* {
	/* 
	2004-04-15 chelu
	removed because of a bug that makes opera calculate page height wrong thus clipping the text
		max-height: none !important;
	*/
	min-height: 0px !important;
	height: auto !important;
	max-width: none !important;
	min-width: 0px !important;
	width: auto !important;
	
	color: #000000 !important;
	background: #f0f0e0 !important;

	font-family: Georgia, Times New Roman, Times, serif !important;
/*	font-family: Verdana, Sassoon, Arial, Helvetica, sans-serif !important; */
	font-weight: normal;
	font-style: normal;
	font-weight: 16px;
	line-height: 1.3;
	text-align: left !important;
	text-transform: none !important;
	text-decoration: none !important;
	/* 
	2004-04-11 chelu
	removed because of a bug that makes opera calculate the width of monospaced blocks wrong
		word-spacing: 0.1em !important;
	*/
	letter-spacing: 0.05em !important;
}

html, body {
	max-height: auto !important;
	min-height: auto !important;
	height: auto !important;
}

body {
	margin: 2em !important;
	padding-bottom: 2em !important;
}

p {
	max-width: 45em !important;
	text-align: justify !important;
}

code, pre, code *, pre * {
	font-family: Courier New, monospace !important;
}
code, pre {
	font-size: 1em;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -o-pre-wrap;    /* Opera 7 */
}

a[href] {
	margin-right: 1em;
}

a[href], a[href] * {
	text-decoration: underline !important;
	color: #000099 !important;
}

a[href]:hover, a[href]:hover * {
	background: #ffffff !important;
}

a[href]:active, a[href]:active * {
	background: #ffffff !important;
	text-decoration: none !important;
}
a[href]:visited, a[href]:visited * {
	color: #660000 !important;
}

img {border: none !important;}

a[href] img {border: medium solid #000000 !important;}

input, textarea, select {
	background: #ffffff !important;
	color: #000000 !important;
}

input[type="text"], input[type="password"] {min-height: 1.2em !important;}

textarea {min-height: 4em !important;}

button, input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], input[type="image"] {
	padding: 2px !important;
	min-width: 2em !important;
	height: 1.2em !important;
	
	background: Silver !important;
	color: #000000 !important;
	
	text-align: center !important;
}

a[accesskey]:after, button[accesskey]:after, input[accesskey]:after,
label[accesskey]:after, legend[accesskey]:after, textarea[accesskey]:after {
	margin-left: 0.3em;
	content: "(" attr(accesskey) ")"; color: #ff0000;
}



b, b *, strong, strong * {font-weight: bold !important;}
i, i *, em, em * {font-style: italic !important;}

h1, h2, h3, h4, h5, h6, h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
/*	font-family: Georgia, Times New Roman, Times, serif !important;*/
	font-family: "Trebuchet MS", Verdana, Sassoon, Arial, Helvetica, sans-serif !important;
	font-weight: bold !important;
}

h1, h1 * {
	font-size: 26px !important;
	line-height: 1.2em !important;
}

h2, h2 * {
	font-size: 22px !important;
	line-height: 1.2em !important;
}

h3, h3 * {
	font-size: 20px !important;
	line-height: 1.4em !important;
}

h4, h4 * {
	font-size: 18px !important;
	line-height: 1.4em !important;
}

h5, h5 * {
	font-size: 16px; !important;
	line-height: 1.2em !important;
}

h6, h6 * {
	font-size: 14px !important;
	line-height: 1.2em !important;
}



hr {
	height: 5px !important;
	background-color: #000000 !important;
	color: #000000 !important;
	border: none !important;
}

@media print {

* {
	color: #000000 !important;
	background: #ffffff !important;	
	font-size: 5.6mm !important;
}

}

/* instiki specific styles */

div#Container > div#Content > div#changes {
	display: none !important;
}

/* google search results */

html body div div.g h2.r {
  margin-bottom: 0 !important;
}
html body div div.g h2.r * {
  font: normal 16px Georgia, Times New Roman, Times, serif !important;
}
html body div div.g h2.r b {
  font-weight: bold !important;
}
